* {
  box-sizing: border-box;
}

.img {
  /* position: absolute; */
  width: 100%;
}

.productDescription {
  margin: 5% 0%;
  text-align: justify;
}
.colorDiv {
  margin: 5% 0;
}
.chooseColor {
  width: 100%;
  border-radius: 5px;
}

.button {
  width: 30%;
  font-weight: bolder;
  padding: 2% 0%;
  margin-right: 2%;
}
