.content {
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyCheckout {
  font-size: 200%;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 75vh;
}
